.navigation {
  border: 1px solid red;
}

.codeHighlightContainer {
  background-color: "rgba(0,0,0,0.05)";
  padding-bottom: 4;
}

.container {
  flex: 1;
  justify-content: 'center';
  background-color: '#ecf0f1';
}

.thumbnailImage {
  width: 120;
  height: 90;
}