.container {
  background: #63BF8E;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.developmentModeText {
  color: grey;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 20px;
  text-align: center;
}

.appTitleContainer {
  line-height: 20%;
  margin: 30px auto 10px;
  text-align: center;
  width: 200px;
}

.appName {
  color: white;
  font-size: 32px;
  text-align: center;
}

.appNameKana {
  color: white;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

.fromSelectIcon {
  background: red;
  border-radius: 50%;
  height: 20px;
  position: relative;
  top: 20px;
  width: 20px;
}

.searchedList {
  border: 1px solid;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  margin: 10px;
  text-align: center;
  width: 40%;
}

.execBtn {
  background-color: #63BF8E;
  border-radius: 30px;
  height: 52px;
  margin: 10px auto;
  width: 300px;
}

.execText {
  color: white;
  font-size: 32px;
  line-height: 52px;
  text-align: center;
}
