.navigation {
  border: 1px solid red;
}

.codeHighlightContainer {
  background-color: 'rgba(0,0,0,0.05)';
  padding-bottom: 4;
}

.container {
  background-color: '#ecf0f1';
  flex: 1;
  justify-content: 'center';
}

.thumbnailImage {
  height: 90;
  width: 120;
}
